/*============-============-============-============
                         VARIABLES
==============-============-============-==========*/

:root {
  --primary-color-1: #CD2626;
  --primary-color-2: #EEEE00;
  --primary-color-3: #00688B;
  --primary-color-4: #3D9140;
  --off-white: #fafafa;
  --box-width: 15rem;
  --box-height: 15rem;
  --box-padding: 3rem;
}

/*============-============-============-============
                         GLOBAL
==============-============-============-==========*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, 
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: var(--off-white);
}

li {
  list-style-type: none;
}

/*============-============-============-============
                         HEADER
==============-============-============-==========*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-bottom: 5rem;
  color: var(--off-white);
  background-color: black;
}

/* --- Navbar --- */

.navbar {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.navbar .container{
  display: flex;
  height: 100%;
}

.navbar .logo {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 2.4rem;
  padding: 0 .5rem .25rem;
  background-color: var(--primary-color-1);
}

.navbar a {
  transition: color .3s ease-out;
}

.navbar a:hover {
  color: #00688B;
}

nav {
  width: 350px;
  align-self: center;
  margin-left: 3rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  text-transform: uppercase;
  font-weight: bold;
}

nav li a {
  display: block;
  height: 100%;
  width: 100%;
}

/* --- Search --- */

.search-bar {
  display: flex;
  align-self: center;
  margin-left: 3rem;
}

.search-bar input {
  height: 100%;
  font-size: 1.5rem;
  padding: 0 .5rem;
}

.search-bar img {
  background-color: var(--primary-color-1);
  padding: .25rem;
}

/* --- Sign In --- */

.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1.5rem;
  text-transform: uppercase;
}

.sign-in p {
  padding: 0;
  margin: 0 0 .75rem;
}

.cart {
  display: flex;
  align-items: center;
}

.cart p {
  margin: 0 5px 0 0;
  padding: 0;
}

/*============-============-============-============
                       PIE CHART
==============-============-============-==========*/

main {
  display: flex;
  justify-content: center;
}

.pie-chart {
  display: grid;
  grid-template-columns: var(--box-width) var(--box-width);
  grid-template-rows: var(--box-height) var(--box-height);
  animation: rotate 20s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--box-width);
  height: var(--box-height);
  border: 1px solid var(--off-white);
  box-shadow: 5px 5px 10px rgba(30,30,30,0.2);
  font-size: 1.2rem;
  font-weight: bold;
  transition: transform .3s ease-out;
}

.box span {
  animation: rotateText 20s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite
}

.box.top-left,
.box.top-right {
  padding-top: var(--box-padding);
}

.box.bottom-left,
.box.bottom-right {
  padding-bottom: var(--box-padding);
}

.box.top-left,
.box.bottom-left {
  padding-left: calc(var(--box-padding) / 2);
}

.box.top-right,
.box.bottom-right {
  padding-right: calc(var(--box-padding) / 2);
}

.box.top-left {
  border-top-left-radius: 100%;
  background-color: var(--primary-color-1);
}
.box.top-right {
  border-top-right-radius: 100%;
  background-color: var(--primary-color-2);
}
.box.bottom-left {
  border-bottom-left-radius: 100%;
  background-color: var(--primary-color-3);
}
.box.bottom-right {
  border-bottom-right-radius: 100%;
  background-color: var(--primary-color-4);
}

.box.top-left:hover {
  transform: translate(-4px, -4px);
}
.box.top-right:hover {
  transform: translate(4px, -4px);
}
.box.bottom-left:hover {
  transform: translate(-4px, 4px);
}
.box.bottom-right:hover {
  transform: translate(4px, 4px);
}


/*============-============-============-============
                      ANIMATIONS
==============-============-============-==========*/

@keyframes rotate {
  0% {
    transform: rotate(0turn);
  }
  17% {
    transform: rotate(0turn);
  }
  25% {
    transform: rotate(.25turn);
  }
  42% {
    transform: rotate(.25turn);
  }
  50% {
    transform: rotate(.5turn); 
  }
  67% {
    transform: rotate(.5turn);
  }
  75% {
    transform: rotate(0.75turn);
  }
  92% {
    transform: rotate(0.75turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

@keyframes rotateText {
  0% {
    transform: rotate(0turn);
  }
  17% {
    transform: rotate(0turn);
  }
  25% {
    transform: rotate(-0.25turn);
  }
  42% {
    transform: rotate(-0.25turn);
  }
  50% {
    transform: rotate(-0.5turn); 
  }
  67% {
    transform: rotate(-0.5turn);
  }
  75% {
    transform: rotate(-0.75turn);
  }
  92% {
    transform: rotate(-0.75turn);
  }
  100% {
    transform: rotate(-1turn);
  }
}